<ion-header>
  <ion-toolbar  class="toolbar">
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >



  <ion-router-outlet main></ion-router-outlet>

    <div *ngFor="let s of (d$ | async) | keyvalue">
    <h3 >{{s.key}}</h3>
  <ion-card class="cards">



          <ion-item *ngFor='let obj of s.value'   [routerLink]="['note-detail/'+obj.id]">
            <ion-label>
              <h1> {{ obj.title }}</h1>
              <p>Numero di pagine: {{obj.pages}}</p>
              <p>Numero di commenti: {{obj.comments}}</p>
              <p>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
              </p>
            </ion-label>
          </ion-item>




  </ion-card>
    </div>

</ion-content>
