<ion-header>
  <ion-toolbar class="toolbar">
    <ion-button><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    <ion-title >Dettaglio nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-slides [options]="slideOpts$">
    <ion-slide *ngFor="let item of (photo$ | async) | keyvalue; let i = index ">
      <div class="slider-box">
          <ion-card>
              <ion-card-header class="header-card">
                  <ion-card-content class="content-card">
                    <img [src]="transform(item.value)" tappable (click)="openModal(photos, i)" >
                  </ion-card-content>
              </ion-card-header>
          </ion-card>
      </div>
    </ion-slide>
  </ion-slides >

    <ion-toolbar>
      <ion-segment [(ngModel)]="segment" class="card-content" scrollable>
        <ion-segment-button value="detail" color="primary" checked layout="icon-end" (click)=loadDetails()>
          <ion-label color="secondary">Dettagli</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="comment" color="primary" layout="icon-end" (click)="loadComments()">
          <ion-label color="secondary">Commenti</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>


    <div [ngSwitch]="segment" >
      <div *ngSwitchCase="'comment'">
        <ion-grid *ngIf="commented$ === true ">
          <ion-item>
            <ion-row>
              <ion-col>
                <h4 class="logged">{{userLogged$.value.name}} {{userLogged$.value.surname}}</h4>
              </ion-col>
            </ion-row>
            <form class="comment-form" [formGroup]="formComment" >
              <ion-row>
                <ion-col size="12">
                  <ion-label color="dark" position="stacked">Title</ion-label>
                  <ion-input placeholder="Inserisci il titolo del commento" class="comment-input" type="text" formControlName="titleC"> </ion-input>
                </ion-col>
              </ion-row>
            <ion-row>
              <ion-col>
                <ion-label color="dark" position="stacked">Notes</ion-label>
                <ion-textarea placeholder="Inserisci il tuo commento" rows="2" class="comment-input" type="text-area" formControlName="comment"> </ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="vertical-centered" size="auto">
                <p>
                  <ion-icon name="star" color="{{post.color1}}"  (click)="starOne($event)"></ion-icon>
                  <ion-icon name="star" color="{{post.color2}}"  (click)="starTwo($event)"></ion-icon>
                  <ion-icon name="star" color="{{post.color3}}"  (click)="starThree($event)"></ion-icon>
                  <ion-icon name="star" color="{{post.color4}}"  (click)="starFour($event)"></ion-icon>
                  <ion-icon name="star" color="{{post.color5}}"  (click)="starFive($event)"></ion-icon>
                </p>
              </ion-col>
              <ion-col class="vertical-centered" push="4" size="auto">
                <p>
                  <ion-button shape="round" (click)="sendComment($event)">
                    <ion-icon name="send" size="small"></ion-icon>
                  </ion-button>
                </p>
              </ion-col>
            </ion-row>
            </form>
          </ion-item>
        </ion-grid>
    <ion-list>

      <ion-item *ngFor="let comment of comments | async">
        <ion-avatar slot="start">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h5 class="comment-title" >{{comment.name}} {{comment.surname}}</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6 class="comment-title" >{{comment.titleC}}</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="comment">
                {{comment.text}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="paragraph-star" *ngIf="comment.like == '1'">
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
              </p>
              <p class="paragraph-star" *ngIf="comment.like == '2'">
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
              </p>
              <p class="paragraph-star" *ngIf="comment.like == '3'">
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
              </p>
              <p class="paragraph-star" *ngIf="comment.like == '4'">
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color=""></ion-icon>
              </p>
              <p class="paragraph-star" *ngIf="comment.like == '5'">
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
                <ion-icon name="star" color="primary"></ion-icon>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>
  </div>

  <div *ngSwitchCase="'detail'" >
    <ion-grid class="white" *ngIf="note | async as n ">
      <ion-row class="white">
        <ion-col class="white" size="12">
            <ion-card-header class="card-header-descr">
              <ion-card-title color="secondary">{{n[0].title}}</ion-card-title>
              <ion-card-subtitle class="card-subtitle-descr">Numero di pagine: {{n[0].pages}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="card-content" align="left">
              {{n[0].description}}
            </ion-card-content>
          <ion-card-subtitle class="card-subtitle-comment">Numero di commenti: {{n[0].comments}} </ion-card-subtitle>
          <p *ngIf="n[0].avarage == 1">
            <ion-card-subtitle class="card-subtitle-descr">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
            %</ion-card-subtitle>
          </p>
          <p *ngIf="n[0].avarage == 2">
            <ion-card-subtitle class="card-subtitle-descr">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              %</ion-card-subtitle>
          </p>
          <p *ngIf="n[0].avarage == 3">
            <ion-card-subtitle class="card-subtitle-descr">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              %</ion-card-subtitle>
          </p>
          <p *ngIf="n[0].avarage == 4">
            <ion-card-subtitle class="card-subtitle-descr">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color=""></ion-icon>
              %</ion-card-subtitle>
          </p>
          <p *ngIf="n[0].avarage == 5">
            <ion-card-subtitle class="card-subtitle-descr">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              %</ion-card-subtitle>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="{{favButton}}" expand="full" (click)="addToFavourite($event)">
            <ion-icon name="heart" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
    </div>



</ion-content>
