.toolbar {
  --background: #FFD54D;
  text-align: center;
}

ion-row {
  background-color:  #F5F5F5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}

ion-col {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.vertical-centered {
  align-self: center;
}

ion-button {
  --color-activated: #806b26;
  --color: #FFD54D;
  --background: #F5F5F5;
  --border-color: #F5F5F5;
}

.toolbar {
  --background: #FFD54D;
  text-align: center;
}

.pd {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.delete-span {
  text-align: right;
  color: black;
  float: right;
  font-size: 26px;
}

/* SLIDER DELLE IMMAGINI */


.category-block {
  margin-bottom: 4px;
}

.content-card {

}
.header-card {

}

ion-card {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
ion-card-header {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
ion-card-content {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

ion-slides {
  margin-top: 0%;
  background: #e6e6e6;

  img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
  }
}
.comment-header {
  font-size: 20px;
}

.comment-title {
  margin-bottom: 0px;
}

.paragraph-star {
  margin-top: 0px;
}

.comment {
  font-size: 10px;
}

.span-star {
  font-size: 14px;
}

.icon-send {
  text-align: center;
  margin-left: 80%;
}

:host(.item-interactive), :host(.item-lines-full){
  --border-width: 0px;
}

ion-textarea {
  font-size: 10px;
}

.card-content {
  background-color: white;
  //padding-left: 1%;
  margin-top: 15px;
  margin-left: 8px;
}

.card-subtitle-descr {
  background-color: white;
  padding-left: 1%;
  margin-top: 2px;
}

.card-subtitle-comment {
  background-color: white;
  padding-left: 1%;
  margin-top: 8px;
  margin-left: 5px;
}

.card-header-descr{
  background-color: white;
  padding-left: 1%;
}

.white {
  background-color: white;
}

.comment-input {
  border-width: 1px;
  background-color: #F5F5F5;
  margin-top: 5px;
}

ion-input:focus {
  --color: green;
  border-width: 1px;
  border-color: #806b26;
}

ion-textarea {
  font-size: 12px;
  --highlight-color-focused: black;
}

.logged {
  margin-bottom: 0px;
}

.comment-form {
  width: 100%;
}

.item-has-focus .label-stacked.sc-ion-label-md-h {  //fondamentali, non ti cambiano il colore della label quando focus
  color: #000000;
}

.label-stacked.sc-ion-label-md-h {
  font-size: 22px;
}

.button-solid {

}
