.toolbar {
  --background: #FFD54D;
  text-align: center;
}

ion-row {
  background-color:  #F5F5F5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-col {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.toolbar {
  --background: #FFD54D;
  text-align: center;
}

.pd {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.delete-span {
  text-align: right;
  color: black;
  float: right;
  font-size: 26px;
}

/* SLIDER DELLE IMMAGINI */


.category-block {
  margin-bottom: 4px;
}

ion-card {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

ion-card-content {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

ion-slides {
  margin-top: 30%;
  background: #e6e6e6;

  img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 40%;
  }
}
.comment-header {
  font-size: 20px;
}


.comment {
  font-size: 10px;
}

.span-star {
  font-size: 14px;
}

.icon-send {
  text-align: center;
  margin-left: 80%;
}

:host(.item-interactive), :host(.item-lines-full){
  --border-width: 0px;
}

ion-textarea {
  font-size: 10px;
}

.card-content {
  background-color: white;
  //padding-left: 1%;
}

.card-subtitle-descr {
  background-color: white;
  padding-left: 1%;
}

.card-header-descr{
  background-color: white;
  padding-left: 1%;
}

.white {
  background-color: white;
}
