<ion-header>
  <ion-toolbar  class="toolbar">
    <ion-title>
      LISTA MATERIE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet main></ion-router-outlet>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-segment [(ngModel)]="segment"  (ionChange)="segmentChanged($event)" >
          <ion-col size="4">
            <ion-segment-button value="1" color="primary">
              <ion-label color="secondary">I</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col size="4">
            <ion-segment-button value="2" color="primary">
              <ion-label color="secondary">II</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col size="4">
            <ion-segment-button value="3" color="primary">
              <ion-label color="secondary">III</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
<!--
  <div *ngFor="let s of (d$ | async) | keyvalue">
    <h3 >{{s.key}}</h3>
    <ion-card class="cards">



      <ion-item *ngFor='let obj of s.value'   [routerLink]="['/tabs/home/note-detail']">
        <ion-label>
          <h1> {{ obj.title }}</h1>


  <div *ngFor="let s of (subject$ | async) | keyvalue">
    <h1>{{s.key}}</h1>
    <div *ngFor="let d of s.value | keyvalue ">
     <h3> {{d.key}}</h3>
      <div *ngFor="let k of d.value | keyvalue">

      <h5>{{k.value.title}}</h5>
      </div>
    </div>

  </div>
  -->
  <div [ngSwitch]="segment" >
       <div *ngFor="let s of (subject$ | async) | keyvalue">
    <div  *ngSwitchCase="s.key">
      <ion-card *ngFor="let d of s.value | keyvalue " class="cards">
        <ion-card-header class="card-header">
          <ion-card-title color="secondary">{{d.key}}<span class="right"><a href="tabs/home/list-notes">vedi tutti gli appunti</a></span></ion-card-title>
        </ion-card-header>
        <ion-card-header class="second-header">
          <ion-card-subtitle>I migliori per questa materia</ion-card-subtitle>
        </ion-card-header>
        <ion-slides [options]="sliderOpts">
          <ion-slide *ngFor="let k of d.value | keyvalue" class="slide">
            <ion-item-sliding class="item-slider" id="item100">
              <ion-item [routerLink]="['/tabs/home/note-detail/',k.value.nameS]" [queryParams]="{debug: true}">
                <ion-label>
                  <h1>{{k.value.title}}</h1>
                  <p>Numero di pagine {{k.value.page}}</p>
                  <p>Numero di commenti {{k.value.comments}}</p>
                  <div *ngIf="((k.value.avarage | number:'1.0-0'))==0">

                    <p>

                      <ion-icon name="star" color=""></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                    </p>
                  </div>
                  <div *ngIf="((k.value.avarage | number:'1.0-0'))==1">

                  <p>

                    <ion-icon name="star" color="primary"></ion-icon>
                    <ion-icon name="star" ></ion-icon>
                    <ion-icon name="star" ></ion-icon>
                    <ion-icon name="star" ></ion-icon>
                    <ion-icon name="star" ></ion-icon>
                  </p>
                 </div>
                  <div *ngIf="((k.value.avarage | number:'1.0-0'))==2">

                    <p>

                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                    </p>
                  </div>
                  <div *ngIf="((k.value.avarage | number:'1.0-0'))==3">

                    <p>

                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                    </p>
                  </div>
                  <div *ngIf="((k.value.avarage | number:'1.0-0'))==4">

                    <p>

                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" ></ion-icon>
                    </p>
                  </div>
                  <div *ngIf="((k.value.avarage | number:'1.0-0'))==5">

                    <p>

                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                      <ion-icon name="star" color="primary"></ion-icon>
                    </p>
                  </div>

                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-slide>


        </ion-slides>
      </ion-card>
    </div>
       </div>
  </div>





</ion-content>
