

.my-custom-menu {
  --width: 80%;
}
.left {
  float: left;
}

.right {
  text-align: center;
  font-size: 60%;
  float: right;
  display: ruby;
  margin-left: 4%;
}

.internal-icon {
  font-size: 20px;
}

.background-color {
  background-color: white;
}

.pd {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ciao {
  padding: 0 0 0 0;
}

.second-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.cards {
  /*
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

   */
  border-radius: 10px;
  background-color: white;
}

.card-header {
}

ion-card-title {
  display: flex;
}

.toolbar {
  --background: #FFD54D;
  text-align: center;
}

.item-slider {
  border: 1px solid white;
  border-radius: 10px;
}

ion-col {
 // border: 1px solid #806B26;
}

ion-row {
  background-color: white;
}
h5 {
  margin-left: 0;

  margin-right: 0;

  margin-top: 0;

  margin-bottom: 0;

  padding-left: 0;

  padding-right: 0;

  padding-top: 0;

  padding-bottom: 0;

  font-size: 20px;

  font-weight: 500;

  line-height: 1.2;

  flex-grow: 4;
}

ion-slides {
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: white;
  align-content: end;
  margin-left: -65px;


  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}




