<ion-header>
  <ion-toolbar  class="toolbar">
    <ion-title>
      Web Engineering
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card class="cards">



    <ion-item>
      <ion-label>
        <h1>Zia Pinetta</h1>
        <p>Numero di pagine 19</p>
        <p>Numero di commenti 127</p>
        <p>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
        </p>
      </ion-label>
    </ion-item>



  </ion-card>
  <ion-card class="cards">


    <ion-item >
      <ion-label>
        <h1>Zia Pinetta</h1>
        <p>Numero di pagine 19</p>
        <p>Numero di commenti 127</p>
        <p>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
        </p>
      </ion-label>
    </ion-item>









  </ion-card>
  <ion-card class="cards">



    <ion-item >
      <ion-label>
        <h1>Davide Fontana</h1>
        <p>Numero di pagine 19</p>
        <p>Numero di commenti 127</p>
        <p>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

  </ion-card>
  <ion-card class="cards">





    <ion-item >
      <ion-label>
        <h1>Davide Fontana</h1>
        <p>Numero di pagine 19</p>
        <p>Numero di commenti 127</p>
        <p>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

  </ion-card>
  <ion-card class="cards">





    <ion-item >
      <ion-label>
        <h1>Davide Fontana</h1>
        <p>Numero di pagine 19</p>
        <p>Numero di commenti 127</p>
        <p>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

  </ion-card> <ion-card class="cards">





  <ion-item >
    <ion-label>
      <h1>Davide Fontana</h1>
      <p>Numero di pagine 19</p>
      <p>Numero di commenti 127</p>
      <p>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>

</ion-card> <ion-card class="cards">





  <ion-item >
    <ion-label>
      <h1>Davide Fontana</h1>
      <p>Numero di pagine 19</p>
      <p>Numero di commenti 127</p>
      <p>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>

</ion-card> <ion-card class="cards">





  <ion-item >
    <ion-label>
      <h1>Davide Fontana</h1>
      <p>Numero di pagine 19</p>
      <p>Numero di commenti 127</p>
      <p>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>

</ion-card> <ion-card class="cards">





  <ion-item >
    <ion-label>
      <h1>Davide Fontana</h1>
      <p>Numero di pagine 19</p>
      <p>Numero di commenti 127</p>
      <p>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>

</ion-card> <ion-card class="cards">





  <ion-item >
    <ion-label>
      <h1>Davide Fontana</h1>
      <p>Numero di pagine 19</p>
      <p>Numero di commenti 127</p>
      <p>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>

</ion-card> <ion-card class="cards">





  <ion-item >
    <ion-label>
      <h1>Davide Fontana</h1>
      <p>Numero di pagine 19</p>
      <p>Numero di commenti 127</p>
      <p>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>

</ion-card>
</ion-content>
