<ion-header>
  <ion-toolbar  class="toolbar">
    <ion-title>
     Upload-Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <h2>let's speak about your note</h2>
  <br/>

  <form [formGroup]="signUpFormModel">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-card>
      <ion-item>
        <ion-label position="stacked">Title <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="title" ></ion-input>
      </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One Subject">
        <ion-select-option value="bacon">algoritmi</ion-select-option>
        <ion-select-option value="olives">Architettura degli elaboratori</ion-select-option>

      </ion-select>
      </ion-card>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="processForm()">Insert note</ion-button>
    </div>
  </form>



</ion-content>
