/*
h2 {
  text-align: center;
  color: #806b26;
}

ion-item {
  --background: white;
}

ion-card {
  background-color: white;
}

.toolbar {
  --background: #FFD54D;
  text-align: center;
}

ion-button {
  --background-activated: #806B26;
  --background-hover: #806B26;
  --background-focused: #806B26;
  --color-hover: #806B26;

}

form{
  background-color: white;
}


*/

.alert-radio-label .sc-ion-alert-md {
  text-wrap: normal;
}
