<ion-content>
  <ion-tabs>
    <ion-tab-bar class="pd" slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon color="secondary" name="md-home" ></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favourites">
        <ion-icon color="secondary" name="md-star"></ion-icon>
        <ion-label>{{"FAVOURITES_TITLE" | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="upload-note">
        <ion-icon color="secondary" name="md-camera"></ion-icon>
        <ion-label>{{"NEW_NOTE" | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="user-profile">
        <ion-icon color="secondary" name="md-person"></ion-icon>
        <ion-label>{{"PROFILE" | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
