<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>
      {{"UPLOAD_PHOTO_TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <h3 *ngIf="fileUploader.queue.length == 0" text-center>{{"SELECT_PHOTO" | translate}}</h3>
  <h3 *ngIf="fileUploader.queue.length != 0" text-center text-wrap>{{"PUSH_BUTTON_PHOTO" | translate}}</h3>

  <ion-list *ngIf="fileUploader.queue.length != 0">

    <ion-item *ngFor="let item of fileUploader.queue" text-wrap>

        <img src mediaPreview [media]="item?._file" tappable (click)="openModal(fileUploader.queue, fileUploader.queue.indexOf(item))" />

      <ion-label>
        {{ item.file.name }}
      </ion-label>

      <ion-button *ngIf="!(queue.includes(item))" slot="end" fill="clear" (click)="UploadItem(item)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button *ngIf="(queue.includes(item))" slot="end" fill="clear" >
        <ion-icon name="checkmark"></ion-icon>      </ion-button>
      <ion-button slot="end" fill="clear" (click)="onDelete(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list>

    <ion-item *ngFor="let item of (photo$ | async) | keyvalue; let i = index " text-wrap>

      <img [src]="transform(item.value)" tappable (click)="openModal(photos, i)">


      <ion-button slot="end" fill="clear" >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteDownload(item.key)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-button *ngIf="fileUploader.queue.length != 0 " (click)="uploadFiles()">{{"UPLOAD_FILES" | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="fileUploader.queue.length != 0 || this.photo$!=null" [routerLink]="['/tabs/upload-note/note-detail/'+this.idN]"  >{{"SEE_NOTES" | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary"><div class="file-input-container">
    <label>
      <input type="file" accept="image/*" ng2FileSelect [uploader]="fileUploader" multiple />
      {{"ADD_FILES" | translate}}
    </label>
  </div>


  </ion-toolbar>
</ion-footer>
