<ion-header>
  <ion-toolbar>
    <ion-title>note-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides >
    <ion-slide>
      <div class="slider-box">
        <ion-card>
          <ion-card-header>
            <ion-card-content>
              <img src="assets/dametterenelprogetto.jpg">
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-content>
              <img src="assets/dametterenelprogetto.jpg">
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-slide>

    <ion-slide>
      <div >
        <ion-card>
          <ion-card-header>
            <ion-card-content>
              <img src="assets/dametterenelprogetto.jpg">
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>


    <ion-toolbar>
      <ion-segment color="primary" scrollable>
        <ion-segment-button checked layout="icon-end">
          <ion-label>Dettagli</ion-label>
        </ion-segment-button>
        <ion-segment-button layout="icon-end">
          <ion-label>Commenti</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
      </ion-avatar>
      <ion-grid>
        <ion-row >
          <ion-col>
            <h3>Applicazioni per dispositivi mobili<span class="delete-span">  <ion-icon name="trash"></ion-icon> </span></h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h5>Titolo del mio commento</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Beatae iusto omnis ratione similique.
              Alias dolore error harum illum, laudantium libero magni praesentium quaerat quis
              recusandae reiciendis suscipit vero voluptates. Nobis.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
      </ion-avatar>
      <ion-grid>
        <ion-row >
          <ion-col>
            <h3>Web engineering<span class="delete-span">  <ion-icon name="trash"></ion-icon> </span></h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h5>Titolo del mio commento</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Beatae iusto omnis ratione similique.
              Alias dolore error harum illum, laudantium libero magni praesentium quaerat quis
              recusandae reiciendis suscipit vero voluptates. Nobis.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
      </ion-avatar>
      <ion-grid>
        <ion-row >
          <ion-col>
            <h3>Fondamenti di programmazione<span class="delete-span">  <ion-icon name="trash"></ion-icon> </span></h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h5>Titolo del mio commento</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Beatae iusto omnis ratione similique.
              Alias dolore error harum illum, laudantium libero magni praesentium quaerat quis
              recusandae reiciendis suscipit vero voluptates. Nobis.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
      </ion-avatar>
      <ion-grid>
        <ion-row >
          <ion-col>
            <h3>Luke<span class="delete-span">  <ion-icon name="trash"></ion-icon> </span></h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h5>Titolo del mio commento</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="comment">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Beatae iusto omnis ratione similique.
              Alias dolore error harum illum, laudantium libero magni praesentium quaerat quis
              recusandae reiciendis suscipit vero voluptates. Nobis.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>




  <!-- CHIUSURA -->

  <br><br><br><br>

  <ion-tabs  #myTabs (ionTabsDidChange)="getSelectedTab()">
    <ion-tab-bar class="pd" slot="bottom">
      <ion-tab-button tab="/home">
        <ion-icon color="secondary" name="md-home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="/favourite">
        <ion-icon color="secondary" name="md-star"></ion-icon>
        <ion-label>Favourite</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="/camera">
        <ion-icon color="secondary" name="md-camera"></ion-icon>
        <ion-label>New note</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="/profile">
        <ion-icon color="secondary" name="md-person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
